/* || STYLE RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || VARIABLES */
:root {
    --colorBlue: #0880D6;
    --colorRed: #FF3838;
    --colorLight: #FFFFFF;
    --colorDark: #555555;
    --colorBorder01: #C4C4C4;
    --colorBorder02: #DDDDDD;    
}

/* || GENERAL STYLE */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
#container {
    color: var(--colorDark);
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
h1, h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--colorLight);
    background-color: var(--colorBlue);
    padding-block: 12px;
}
label {
    display: block;
    color: var(--colorBlue);
}
input {
    width: 100%;
    height: 40px;
}
input:focus {
    outline: none;
}
textarea {
    width: 100%;
    height: 100px;
}

/* HEADER */
.titleHeader {
    text-align: left;
    padding: 20px 30px;
}
.boxContact {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin: 14px 2% 0;
}

/* FORMULAIRE DE CONTACT*/
.formContact {
    flex-shrink: 1;
    flex-basis: 40rem;
    border: 1px solid var(--colorBorder01);
}
.formContact h2 {
    text-align: center;
    padding-block: 12px;
}
.formContact > div {
    padding: 14px 21px 41px 21px;
}
.formContact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.file {
    width: 100%;
    height: 105px;  
}
.file label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--colorDark);
    width: 100%;
    height: 105px; 
    border: 2px dashed var(--colorBorder01);
    overflow: hidden;
}
.file img {
    width: 5rem;
    object-fit: contain;
}
#file {
    width: auto;
    display: none;
}
.formContact .btns {
    display: flex;
    justify-content: flex-start;
    column-gap: 36px;
    margin-top: 20px;
}
.btn__submit, .btn__reset {
    color: var(--colorLight);
    background-color: var(--colorBlue);
    width: auto;
    padding: 10px 45px;
    border: none;
}
.btn__reset {
    background-color: var(--colorRed);
}

/* LISTE DES CONTACTS */
.listContact {
    flex-shrink: 1;
    max-width: 76.4rem;
    border: 1px solid var(--colorBorder02);
    border-bottom: none;
}
.listContact__content {
    height: 82vh;
    padding: 20px;
    overflow-y: auto;
}
.contact__profil {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 15px;
    border-bottom: 1px solid var(--colorBorder02);
    position: relative;
}
.profil__image {
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.nameAndBtns {
    display: flex;
    justify-content: space-between;
}
.nameAndBtns .f-names {
    font-size: 1rem;
    font-weight: 500;
}
.profilBtn button {
    margin-left: 10px;
    padding: 8px;
    border: none;
    position: relative;
    background-color: transparent;
}
.profilBtn img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.profilBtn span {
    display: none;
}
.profil__description p {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}
.profil__description > * {
    margin-block: 15px;
}
.profil__description .f-tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.contact__profil-confirm {
    background: rgba(255,0,0,.25);
}
.div__confirm {
    font-size: 14px;
    text-align: center;
    background-color: var(--colorBorder02);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100px, -50px);
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px var(--colorDark);
    z-index: 999;
}
.div__confirm div {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    margin-top: 10px;
}
.div__confirm button {
    font-weight: 700;
    color: var(--colorLight);
    background-color: var(--colorBlue);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.div__confirm .delete-ok {
    background-color: var(--colorRed);
}
.p__emptyList {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    padding-top: 3rem;
    color: var(--colorBorder01);
}
#mobileBtn__formView {
    display: none;
}

/* || RESPONSIVE TABLETTE */
@media screen and (max-width: 1024px) {
    .boxContact {
        margin-inline: 1.5%;
    }
    .formContact {
        flex-shrink: 2;
    }
    .listContact {
        flex-shrink: 2;
    }
    .listContact__content {
        padding: 20px 5px;
    }
    .contact__profil {
        flex-direction: column;
        column-gap: 0;
        row-gap: 15px;
    }
    .profil__image {
        width: 150px;
        height: 150px;
    }
    .profil__description > * {
        margin-block: 12px
    }
    .nameAndBtns {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .f-names {
        font-weight: 700;
    }
    .profilBtn {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        width: 100%;
    }
    .profilBtn button {
        display: flex;
        align-items: center;
        column-gap: 5px;
        color: var(--colorLight);
        height: 36px;
        padding-inline: 12px;
        background-color: var(--colorBlue);
        border-radius: 5px;
    }
    .profilBtn button:nth-child(2) {
        color: var(--colorDark);
        background-color: var(--colorBorder02);
    }
    .profilBtn img {
        position: relative;
        width: 18px;
    }
    .profilBtn .img__delete {
        width: 16px;
    }
    .profilBtn span {
        display: block;
    }
    .f-tel {
        text-align: center;
    }
}

/* || RESPONSIVE MOBILE */
@media screen and (max-width: 786px) {
    .boxContact {
        margin-inline: 2rem;
    }
    .formContact {
        display: none;
    }
    .listContact {
        width: 40rem;
        margin: 0 auto;
    }
    .profil__image {
        width: 120px;
        height: 120px;
    }
    .profilBtn {
        flex-direction: column;
        row-gap: 5px;
    }
    .profilBtn button {
        display: flex;
        justify-content: center;
    }
    #mobileBtn__formView {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        right: 2.2rem;
        bottom: 2rem;
        padding: 0.8rem;
        background-color: hsl(205 93% 79% / 1);
        border-radius: 14px;
    }
}